// Import partials
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.videoInfo {
    margin: -.25rem 1rem 1.1rem 1rem;

    @include tablet {
        margin: -.35rem 2.25rem 1.3rem 2.25rem;
    }

    @include desktop {
        margin: 0 0 1.3rem 6.623rem;
    }

    &__video-title-container {
        width: auto;
        margin-top: 0;
    }

    &__video-title {
        @include heading-style;
        font-size: 1.5rem;
        color: $primary;
        line-height: 1.975rem;
        letter-spacing: .015rem;
        margin-bottom: 1rem;

        @include tablet {
            @include bold-heading-style;
            font-size: 1.91rem;
            margin-top: 2.1rem;
            margin-bottom: .2rem;
            letter-spacing: .04rem;
        }

        @include desktop {
            font-size: 2rem;
            letter-spacing: 0;
            margin-top: 2.25rem;
        }
    }

    &__video-details-divider--bottom,
    &__video-details-divider--top {
        width: auto;
        border: none;
        border-top: .1rem solid $septenary;    
    }

    &__video-details--top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 4rem;

        @include tablet {
            height: 2rem;
            align-items: last baseline;
        }
    }

    &__video-details--left {
        @include tablet {
            display: flex; 
            flex-direction: row;
            width: auto;
            align-items: baseline;
            justify-content: space-between;
        }
    }

    &__channel {
        @include heading-style; 
        font-size: .85rem;
        color: $primary;
        margin-bottom: .4rem;

        @include tablet {
            @include bold-heading-style;
            font-size: .88rem;
            margin-bottom: 0;
            margin-top: 0;
        }
    }

    &__timestamp {
        @include body-copy-style;
            font-size: .85rem;
            color: $tertiary;
            margin-top: .8rem;
        
        @include tablet {
            font-size: .75rem;
            margin-bottom: 0;
            margin-top: 0;
            padding-left: 2.15rem;
        }

        @include desktop {
            padding-left: 1.75rem;
        }
    }

    &__video-details--right {
        @include tablet {
            display: flex; 
            flex-direction: row;
            flex-wrap: wrap;
            align-content: baseline;
        }

        @include desktop {
            margin-right: 1.25rem;
        }
    }

    &__video-views-container,
    &__video-likes-container {
        display: flex;
        flex-direction: row;
    }

    &__video-views-container {
        display: flex;
        align-items: center;
        margin-bottom: 0;

        @include tablet {
            align-items: center;
        }
    }

    &__views-icon,
    &__likes-icon {
        @include block-item(auto, 1rem);

        @include tablet {
            margin: 0;
        }
    }

    &__views,
    &__likes {
        @include body-copy-style;
        font-size: .85rem;
        color: $tertiary;
        padding: 0 3rem 0 .5rem;

        @include tablet {
            padding: 0 0 0 .7rem;
            font-size: .7rem;
        }
    }

    &__views {
        @include tablet {
            margin-bottom: 0;
            margin-top: 0;
        }
    }

    &__likes {
        margin-top: 0;

        @include tablet {
            margin: 0;
        }
    }

    &__video-likes-container {
        display: flex;
        align-content: center;

        @include tablet {
            align-items: center;
            padding-left: 2rem;
        }

        @include desktop {
            padding-left: 1.45rem;
        }
    }

    &__video-details-divider--top {
        display: block;

        @include tablet {
            display: none;
        }
    }

    &__description {
        @include body-copy-style;
        color: $primary;
        font-size: .803rem;
        margin-top: .9rem;
        margin-bottom: 1.1rem;
        line-height: 1.135rem;

        @include tablet {
            font-size: .87rem;
            line-height: 1.37rem;
            padding: .6rem 1.25rem .87rem 0;
        }

        @include desktop {
            margin-right: 1.25rem;
            margin-bottom: 1.75rem;
            line-height: 1.38rem;
            padding-right: 0;
        }
    }

    &__comments-counter {
        @include heading-style;
        font-size: .85rem;
        color: $primary;
        margin: 0;

        @include tablet {
            @include bold-heading-style;
            font-size: .88rem;
        }

        @include desktop {
            margin-top: 2.3rem;
        }
    }
}