@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.sideVideos {
    display: flex;
    flex-direction: column;
    width: auto;

    &__videos-container {
        padding: 0 1rem 1rem 1rem;

        @include tablet {
            padding: 0.25rem 2.25rem 1rem 2.25rem;
        }

        @include desktop {
            padding-left: 1.5rem;
            padding-right: 3.25rem;
        }

        @include large-desktop {
            padding-right: 3.6rem;
        }
    }

    &__thumbnail-image {
        @include block-item(6.3rem, 3.75rem);
        object-fit: cover;
        object-position: center 37.5%;
        border-radius: .25rem;   
        color: $septenary;
        margin-bottom: .5rem;

        @include tablet {
            @include block-item(6.8rem, 4rem);
            margin-bottom: 1.25rem;
        }
    }

    // Style for second image from the side videos
    &__unique-thumbnail-zoomed-image {
        @include block-item(5.57rem, 3.75rem);
        object-fit: cover;
        object-position: center center;
        margin-left: .34rem;
        margin-right: .35rem;
        transform: scaleX(1.115);

        @include tablet {
            @include block-item(5.6rem, 3.75rem);
            margin-left: .6rem;
            margin-right: .6rem;
            transform: scaleX(1.22);
        }
    }

    // Style for last image from the side videos - to match the mockup
    &__unique-thumbnail-last-image {
        @include block-item(6.3rem, 3.75rem);
        object-fit: cover;
        object-position: center 56%;

        @include tablet {
            @include block-item(6.8rem, 4rem);
            object-position: center 54%;
        }
    }

    &__thumbnail-info {
        display: flex;
        flex-direction: row;
    }

    &__divider-container {
        display: block;

        @include desktop {
            display: none;
        }
    }

    &__divider {
        margin-top: 0;
        width: 100%;
        border: none;
        border-top: .1rem solid $septenary;
    }

    &__header-title {
        @include heading-style;
        color: $tertiary;
        font-size: .75rem;
        text-transform: uppercase;
        padding: .75rem 0;

        @include desktop {
            padding-top: 1rem;
            padding-bottom: .4rem;
        }
    }

    &__info {
        padding: 0 0 1rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;

        @include tablet {
            @include block-item(11.2rem, 3.9rem);
            padding-right: 1rem;
        }

        @include desktop {
            padding-right: 1.5rem;
        }
    }

    &__title {
        @include heading-style;
        font-size: .83rem;
        color: $quinary;
        margin-bottom: .4rem;
        margin-top: 0;

        @include tablet {
            font-size: .89rem;
        }

        @include desktop {
            margin-right: .25rem;
        }
    }

    &__channel {
        @include body-copy-style;
        font-size: .803rem;
        color: $quinary; 
        margin: 0;

        @include tablet {
            font-size: .88rem;
        }
    }

    &__thumbnail-container {
        padding-bottom: 1rem;
    }
}