@import "../../styles/partials/mixins";
@import "../../styles/partials/colors";
@import "../../styles/partials/fonts";

.sideVideos {
    display: flex;
    flex-direction: column;
    width: auto;

    &__videos-container {
        padding: 0 1rem 1rem 1rem;

        @include tablet {
            padding: 0.25rem 2.25rem 1rem 2.25rem;
        }
    }

    &__thumbnail-image {
        @include block-item(6.3rem, 3.75rem);
        object-fit: cover;
        object-position: center 50%;
        border-radius: .25rem;   
        color: $septenary;
        margin-bottom: .5rem;

        @include tablet {
            @include block-item(6.6rem, 4rem);
            margin-bottom: 1.25rem;
        }
    }

    &__thumbnail-info {
        display: flex;
        flex-direction: row;
    }

    &__divider {
        margin-top: 0;
        width: 100%;
        border: none;
        border-top: .1rem solid $septenary;
    }

    &__header-title {
        @include heading-style;
        color: $tertiary;
        font-size: .75rem;
        text-transform: uppercase;
        padding: .75rem 0;
    }

    &__info {
        padding: 0 0 1rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;

        @include tablet {
            @include block-item(11.2rem, 3.9rem);
            padding-right: 1rem;
        }
    }

    &__title {
        @include heading-style;
        font-size: .83rem;
        color: $quinary;
        margin-bottom: .4rem;
        margin-top: 0;

        @include tablet {
            font-size: .89rem;
        }
    }

    &__channel {
        @include body-copy-style;
        font-size: .803rem;
        color: $quinary; 
        margin: 0;

        @include tablet {
            font-size: .88rem;
        }
    }

    &__thumbnail-container {
        padding-bottom: 1rem;
    }
}