/* Color palette 
BrainFlix-Black - primary text colour*/
$primary: #323232;
// BrainFlix-Blue - primary CTA colour and active form field outline colour
$secondary: #0095FF;
// Silver - secondary text colour and text label colour
$tertiary: #AFAFAF;
// White - background colour and CTA text colour
$quaternary: #FFFFFF;
// BrainFlix-DarkBlack - video player components
$quinary: #000000;
// BrainFlix-DarkBlue - CTA hover state colour
$senary: #0065AD;
// Mercury - divider line and form field outline colour
$septenary: #E1E1E1;
// Alabaster - form field background colour
$octonary: #FAFAFA;
// Use for errors
$nonary: #D22D2D;