// Import partials
@use 'variables' as *;
@use 'colors' as *;
@use 'fonts' as *;

// Breakpoints mixins
@mixin mobile {
  @media screen and (min-width: #{$mobile-breakpoint}) {
    @content;
  }
}

@mixin large-mobile {
  @media screen and (min-width: #{$large-mobile-breakpoint}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: #{$tablet-breakpoint}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: #{$desktop-breakpoint}) {
    @content;
  }
}

@mixin large-desktop {
  @media screen and (min-width: #{$large-desktop-breakpoint}) {
    @content;
  }
}

// Block item mixin
@mixin block-item($width, $height) {
    width: $width;
    height: $height;
}

// Font mixins
@mixin body-copy-style {
  font-family: "AvenirNextLTPro";
  font-weight: 400;
}

@mixin heading-style {
  font-family: "AvenirNextLTPro";
  font-weight: 600;
}

@mixin bold-heading-style {
  font-family: "AvenirNextLTPro";
  font-weight: 700;
}

// Button mixin
@mixin button-style($width, $height) {
  background-color: $secondary;
  color: $quaternary;
  border-radius: 0.25rem;
  text-transform: uppercase;
  border: $secondary;
  font-size: .75rem;
  width: $width;
  height: $height;
  display: flex;
  justify-items: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}