// Import partials
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.hero {
    width: auto;

    &__main-video {
        background-color: $quinary;
        width: auto;
        display: flex;
        justify-content: center;
        position: relative;

        :fullscreen &, // Targeting when the container is in fullscreen
        :-webkit-full-screen & { // For webkit browsers
            @include block-item(100vw, 100vh);
        }
    }

    &__main-video-image {
        @include block-item(auto, 11.35rem); 
        justify-items: center;

        @include tablet {
            height: 24.45rem;
        }

        @include desktop {
            height: 29.7rem
        }

        :fullscreen &, 
        :-webkit-full-screen & { 
            @include block-item(100%, auto);
            object-fit: contain; 
        }
    }

    &__overlay-container {
        @include block-item(auto, .915rem); 
        position: absolute;
        top: 92%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        gap: .3rem;
        justify-content: space-between;
        align-items: center;

        @include tablet {
            height: .89rem;
            top: 92%;
            gap: .5rem;

            @include desktop {
                top: 93%;
                gap: 1.15rem;
            }
        }

        :fullscreen &, 
        :-webkit-full-screen & { 
            @include block-item(75%, .93rem);
            max-width: 20rem;
            position: fixed;
            bottom: 1.875rem;
            left: 50%;
            border-radius: .25rem;
            transform: translateX(-50%); 
            z-index: 1000; 
            
            @include tablet {
                @include block-item(80%, 2.25rem);
                max-width: 45rem;
            }

            @include desktop {
                @include block-item(65%, 2.25rem);
                max-width: 52.5rem;
            }

            @include large-desktop {
                @include block-item(52%, 2.25rem);
            }
        }
    }

    &__play-overlay {
        @include block-item(1.375rem, .915rem); 
        background-color: rgba($quinary, .5);
        border-radius: .25rem;
        display: flex;
        justify-content: center;
        align-items: center;

        @include tablet {
            @include block-item(2.75rem, 2.25rem);
        }

        :fullscreen &,
        :-webkit-full-screen & {
            background-color: (rgba($tertiary, .5));
        }
    }

    &__play-button {
        background: url("../../assets/images/icons/play.svg");
        background-size: contain; 
        background-repeat: no-repeat;
        border: none;
        outline: none;
        background-position: center;
        cursor: pointer;
        @include block-item(.45rem, .45rem); 
            
        @include tablet {
            @include block-item(.85rem, .85rem); 

            @include desktop {
                @include block-item(.9rem, .9rem); 
            }
        }
    }

    &__pause-button {
        background: url("../../assets/images/icons/pause.svg");
        background-size: contain; 
        background-repeat: no-repeat;
        border: none;
        outline: none;
        background-position: center;
        cursor: pointer;
        @include block-item(.7rem, .7rem); 
            
        @include tablet {
            @include block-item(1.25rem, 1.25rem); 

            @include desktop {
                @include block-item(1.4rem, 1.4rem); 
            }
        }
    }

    &__close-fullscreen-button,
    &__fullscreen-button,
    &__volume-up-button,
    &__volume-off-button,
    &__play-button,
    &__pause-button {
    transition: opacity 0.3s ease;

        &:hover {
            filter: grayscale(100%) brightness(70%);
        }

        &:active {
            transform: scale(.90); 
        }
    }

    &__scrub-overlay {
        @include block-item(12.438rem, .915rem); 
        background-color: rgba($quinary, .5);
        border-radius: .25rem;
        display: flex;
        justify-content: space-between;
        padding: 0 .5rem;
        align-items: center;

        @include tablet {
            @include block-item(32rem, 2.25rem); 
            padding: 0 .85rem;

            @include desktop {
                @include block-item(39rem, 2.25rem); 
                padding: 0 .95rem;
            }
        }
        
        :fullscreen &,
        :-webkit-full-screen & {
            background-color: (rgba($tertiary, .5));
        }
    }

    &__scrub-duration {
        @include body-copy-style;
        font-size: .37rem;
        color: $quaternary;

        @include tablet {
            font-size: .5rem;
        }
    }

    &__scrub-line-container {
        @include block-item(79%, .15rem);
        position: relative;
        background-color: (rgba($quinary, .5)); 
        border-radius: .125rem;
        cursor: pointer;

        @include tablet {
            @include block-item(88%, .25rem);
        }

        @include desktop {
            @include block-item(90%, .25rem);
        }

        :fullscreen &, 
        :-webkit-full-screen & {
            @include block-item(74%, .15rem);

            @include tablet {
                @include block-item(86.5%, .25rem);
            }
    
            @include desktop {
                @include block-item(89%, .25rem);
            }
        }
    }

    &__close-fullscreen-button {
        :fullscreen &, 
        :-webkit-full-screen & {
        @include block-item(.75rem, .75rem); 
        cursor: pointer;
        display: block;

            @include tablet {
                @include block-item(1.5rem, 1.5rem);

                @include desktop {
                    @include block-item(1.65rem, 1.65rem);
                }
            }
        }
    }
    
    &__scrub--played {
        position: absolute;
        height: 100%;
        border-radius: .125rem;
        background-color: $secondary; 
        z-index: 1; 
    }

    &__scrub--buffered {
        position: absolute;
        height: 100%;
        border-radius: .125rem;
        background-color: $tertiary; 
        z-index: 0; 
    }

    &__scrub--remaining {
        position: absolute;
        height: 100%;
        border-radius: .125rem;
        background-color: $primary;
        z-index: -1;
    }

    &__scrub-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 2; 
    }

    &__scrub-button-icon {
        @include block-item(.5rem, .5rem);
        display: flex;
        justify-content: center;
        cursor: pointer;

        @include tablet {
            @include block-item(1rem, 1rem);
        }
    }

    &__video-buttons-container-overlay {
        @include block-item(2.188rem, .915rem); 
        background-color: rgba($quinary, .5);
        border-radius: .25rem;
        display: flex;
        justify-content: space-between;
        padding: 0 .25rem;
        align-items: center;

        :fullscreen &,
        :-webkit-full-screen & {
            background-color: (rgba($tertiary, .5));
        }

        @include tablet {
            justify-content: space-around;
            @include block-item(4.5rem, 2.25rem);

            @include tablet {
                justify-content: space-evenly;
            }
        }
    }

    &__fullscreen-button {
        @include block-item(.835rem, .835rem); 
        cursor: pointer;

        @include tablet {
            @include block-item(1.35rem, 1.35rem);

            @include desktop {
                @include block-item(1.4rem, 1.4rem);
            }
        }
    }

    &__volume-control {
        position: relative; 
        display: inline-block;
    }

    &__volume-up-button {
        position: relative;
        z-index: 10;
        @include block-item(.875rem, .875rem);
        cursor: pointer;

        @include tablet {
            @include block-item(1.7rem, 1.7rem);

            @include desktop {
                @include block-item(1.75rem, 1.75rem);
            }
        }

        :fullscreen &,
        :-webkit-full-screen & {
            @include block-item(.75rem, .75rem);
        
            @include tablet {
                @include block-item(1.5rem, 1.5rem);
    
                @include desktop {
                    @include block-item(1.65rem, 1.65rem);
                }
            }
        }
    }

    &__volume-scrub-container {
        @include block-item(.85rem, 3.625rem);
        display: none; 
        position: absolute;
        top: 0; 
        left: 50%; 
        transform: translateX(-50%) translateY(calc(-100% - .1rem)); 
        background-color: (rgba($quinary, .5));  
        border-radius: .25rem;
        
        @include tablet {
            @include block-item(1.25rem, 4.625rem);

            @include desktop {
                @include block-item(1.25rem, 5.625rem);
            }
        }

        &:hover {
            display: block; 
        }

        :fullscreen &,
        :-webkit-full-screen & {
            @include block-item(.85rem, 3.625rem);
            background-color: (rgba($tertiary, .2));
        
            @include tablet {
                @include block-item(1.25rem, 5.625rem);
    
                @include desktop {
                    @include block-item(1.25rem, 5.625rem);
                }
            }
        }
    }

    &__volume-scrub {
        @include block-item(.15rem, 95%);
        position: absolute;
        bottom: 0; 
        left: 50%;
        transform: translateX(-50%);
        background-color: $secondary; 
        cursor: pointer; 
        border-radius: .25rem;
        z-index: 2;

        @include tablet {
            @include block-item(.25rem, 95%);

            @include desktop {
                @include block-item(.25rem, 95%);
            }
        }

        :fullscreen &,
        :-webkit-full-screen & {
            @include block-item(.15rem, 95%);
        
            @include tablet {
                @include block-item(.25rem, 95%);
            }
        }
    }

    &__remaining-volume {
        @include block-item(.15rem, 95%);
        position: absolute;
        bottom: 0;
        left: 43%;
        background-color: $tertiary;
        z-index: 1;
        border-radius: .25rem;

        @include tablet {
            @include block-item(.25rem, 95%);
            left: 42%;
        
            @include desktop {
                left: 41%;
            }
        }
    
        :fullscreen &,
        :-webkit-full-screen & {
            @include block-item(.15rem, 95%);
            left: 43%;
        
            @include tablet {
                @include block-item(.25rem, 95%);
                left: 41.25%;
    
                @include desktop {
                    left: 41.5%;
                
                    @include large-desktop {
                        left: 40%;
                    }
                }
            }
        }

    }

    &__scrub-handle {
        position: absolute;
        z-index: 3;
        bottom: 0;
        left: 50%; 
        transform: translateX(-50%);
        cursor: pointer;
         @include block-item(.5rem, .5rem);
       
        @include tablet {
            @include block-item(1rem, 1rem);
        }

        :fullscreen &,
        :-webkit-full-screen & {
            @include block-item(.5rem, .5rem);
        
            @include tablet {
                @include block-item(1rem, 1rem);
            }
        }
    }
}