// Import partials
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.mainVideoPage {
    &__video-info-container {
        @include desktop {
            display: flex;
            flex-direction: row;
            margin: 0 3.25rem 0 1.5rem;
        }
    }

    &__video-info-text {
        @include desktop {
            width: 65%;
            flex: 2;
        }
    }

    &__video-info-thumbnails-container {
        @include desktop {
            @include block-item(20.5rem, auto);
            flex: 1;
            display: flex;
            justify-items: flex-start;
            flex-direction: row;
        }

        @include large-desktop {
            flex: 0;
            margin-right: 4.6rem;
        }
    }

    &__video-info-thumbnails {
        @include tablet {
            padding-bottom: 0;
        }

        @include desktop {
            width: auto;
            padding-bottom: 1.75rem;
        }
    }

    &__divider {
        display: none;

        @include tablet {
            display: none;
        }

        @include desktop {
            @include block-item(auto, 100%);
            border: .063rem solid $septenary;   
            margin-top: 0;
            display: block;
        }
    }
}     