/* Color palette 
BrainFlix-Black - primary text colour*/
@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  font-style: bold;
  font-weight: 700;
}
@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  font-style: medium;
  font-weight: 600;
}
@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}
/* Color palette 
BrainFlix-Black - primary text colour*/
@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  font-style: bold;
  font-weight: 700;
}
@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  font-style: medium;
  font-weight: 600;
}
@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}
.nav {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 1rem;
  flex-wrap: wrap;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .nav {
    width: auto;
    margin: 0 2.25rem;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .nav {
    margin: 0 8.8rem 0 8.1rem;
  }
}
.nav__logo {
  width: 7.2rem;
  height: auto;
}
.nav__search-list {
  display: flex;
  width: auto;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .nav__search-list {
    width: 30rem;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .nav__search-list {
    width: 30.5rem;
  }
}
.nav__search-container {
  height: auto;
  margin: 1rem 1rem 1rem 0;
  display: flex;
  position: relative;
}
@media screen and (min-width: 768px) {
  .nav__search-container {
    margin: 1rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .nav__search-container {
    margin: 1rem 1rem 1rem 0;
  }
}
.nav__search-icon {
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: 7%;
  top: 30%;
  transform: translateX(-45%);
}
@media screen and (min-width: 768px) {
  .nav__search-icon {
    width: 1.2rem;
    height: 1.2rem;
    left: 10%;
  }
}
.nav__search-bar {
  width: 13rem;
  height: 0.8rem;
  font-family: "AvenirNextLTPro";
  font-weight: 600;
  padding: 0.78rem;
  background-color: #FAFAFA;
  border: 0.063rem solid #E1E1E1;
  border-radius: 0.25rem;
}
.nav__search-bar::-moz-placeholder {
  font-family: "AvenirNextLTPro";
  font-weight: 400;
  font-size: 0.78rem;
  color: #000000;
  padding-left: 1.25rem;
}
.nav__search-bar::placeholder {
  font-family: "AvenirNextLTPro";
  font-weight: 400;
  font-size: 0.78rem;
  color: #000000;
  padding-left: 1.25rem;
}
@media screen and (min-width: 768px) {
  .nav__search-bar::-moz-placeholder {
    padding-left: 1.75rem;
  }
  .nav__search-bar::placeholder {
    padding-left: 1.75rem;
  }
}
.nav__search-bar:active, .nav__search-bar:focus {
  width: 13rem;
  height: 0.8rem;
  font-family: "AvenirNextLTPro";
  font-weight: 400;
  outline: none;
  padding: 0.78rem;
  border: 0.063rem solid #0095FF;
  border-radius: 0.25rem;
}
.nav__avatar-container {
  margin: 0;
  width: auto;
  display: flex;
}
.nav__avatar {
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  background-color: #E1E1E1;
  flex-shrink: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left center;
     object-position: left center;
}
@media screen and (min-width: 768px) {
  .nav__avatar {
    width: 2.5rem;
    height: 2.5rem;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .nav__avatar {
    margin-left: 1.75rem;
  }
}
.nav__upload-button-container--left {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav__upload-button-container--left {
    display: block;
  }
}
.nav__upload-button-container--right {
  display: block;
}
@media screen and (min-width: 768px) {
  .nav__upload-button-container--right {
    display: none;
  }
}
.nav__upload-button--left {
  font-family: "AvenirNextLTPro";
  font-weight: 600;
  background-color: #0095FF;
  color: #FFFFFF;
  border-radius: 0.25rem;
  text-transform: uppercase;
  border: #0095FF;
  font-size: 0.8rem;
  width: 9.85rem;
  height: 2.5rem;
  display: flex;
  justify-items: center;
  align-items: center;
  position: relative;
}
@media screen and (min-width: 1280px) {
  .nav__upload-button--left {
    background-color: #0095FF;
    color: #FFFFFF;
    border-radius: 0.25rem;
    text-transform: uppercase;
    border: #0095FF;
    font-size: 0.8rem;
    width: 9.5rem;
    height: 2.5rem;
    display: flex;
    justify-items: center;
    align-items: center;
    position: relative;
    margin-left: 0.3rem;
  }
}
.nav__upload-button--left:hover {
  background-color: #0065AD;
}
.nav__upload-button--right {
  font-family: "AvenirNextLTPro";
  font-weight: 600;
  background-color: #0095FF;
  color: #FFFFFF;
  border-radius: 0.25rem;
  text-transform: uppercase;
  border: #0095FF;
  font-size: 0.8rem;
  width: 18rem;
  height: 2.5rem;
  display: flex;
  justify-items: center;
  align-items: center;
  position: relative;
}
.nav__upload-button--right:hover {
  background-color: #0065AD;
}
.nav__upload-copy {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.nav__spacer {
  margin-left: auto;
}
.nav__upload-icon {
  width: 1.3rem;
  height: auto;
}/*# sourceMappingURL=Header.css.map */