/* Color palette 
BrainFlix-Black - primary text colour*/
@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  font-style: bold;
  font-weight: 700;
}
@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  font-style: medium;
  font-weight: 600;
}
@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}
/* Color palette 
BrainFlix-Black - primary text colour*/
@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  font-style: bold;
  font-weight: 700;
}
@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  font-style: medium;
  font-weight: 600;
}
@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}
.comments {
  display: flex;
  flex-direction: column;
}
.comments__form-container {
  display: flex;
  flex-direction: row;
  width: auto;
  margin: 0 1rem;
}
.comments__avatar-container {
  margin-top: 1.5rem;
  width: auto;
  display: flex;
}
.comments__avatar-img {
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  background-color: #E1E1E1;
  flex-shrink: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left center;
     object-position: left center;
}
@media screen and (min-width: 768px) {
  .comments__avatar-img {
    width: 2.5rem;
    height: 2.5rem;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .comments__avatar-img {
    margin-left: 1.75rem;
  }
}
.comments__form {
  margin-left: 1rem;
}
.comments__label {
  font-family: "AvenirNextLTPro";
  font-weight: 600;
  color: #AFAFAF;
  font-size: 0.75rem;
  text-transform: uppercase;
}
.comments__textarea {
  width: 13.5rem;
  height: 5rem;
  font-family: "AvenirNextLTPro";
  font-weight: 600;
  background-color: #FAFAFA;
  border: 0.063rem solid #E1E1E1;
  border-radius: 0.25rem;
  padding: 0.6rem;
  margin-top: 0.3rem;
  margin-bottom: 0.75rem;
  resize: none;
}
.comments__textarea::-moz-placeholder {
  font-family: "AvenirNextLTPro";
  font-weight: 400;
  font-size: 0.78rem;
  color: #000000;
}
.comments__textarea::placeholder {
  font-family: "AvenirNextLTPro";
  font-weight: 400;
  font-size: 0.78rem;
  color: #000000;
}
.comments__textarea:active, .comments__textarea:focus {
  width: 13.5rem;
  height: 5rem;
  font-family: "AvenirNextLTPro";
  font-weight: 400;
  outline: none;
  border: 0.063rem solid #0095FF;
  border-radius: 0.25rem;
}
.comments__button-container--bottom {
  display: block;
}
@media screen and (min-width: 768px) {
  .comments__button-container--bottom {
    display: none;
  }
}
.comments__button--bottom {
  font-family: "AvenirNextLTPro";
  font-weight: 600;
  background-color: #0095FF;
  color: #FFFFFF;
  border-radius: 0.25rem;
  text-transform: uppercase;
  border: #0095FF;
  font-size: 0.8rem;
  width: 14.75rem;
  height: 2.25rem;
  display: flex;
  justify-items: center;
  align-items: center;
  position: relative;
  align-items: center;
}
.comments__button--bottom:hover {
  background-color: #0065AD;
}
.comments__copy {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.comments__spacer {
  margin-left: auto;
}
.comments__icon {
  width: 1.1rem;
  height: auto;
  padding: 0.3rem 0 0 0.2rem;
}
.comments__list {
  width: auto;
  padding: 0.5rem 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.comments__item {
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.comments__list-container {
  display: flex;
  flex-direction: row;
}
.comments__username, .comments__timestamp {
  margin-top: 0;
  margin-bottom: 0;
}
.comments__username {
  font-family: "AvenirNextLTPro";
  font-weight: 600;
  font-size: 0.85rem;
  color: #000000;
}
.comments__timestamp {
  font-family: "AvenirNextLTPro";
  font-weight: 400;
  font-size: 0.8rem;
  color: #AFAFAF;
}
.comments__text {
  font-family: "AvenirNextLTPro";
  font-weight: 400;
  color: #000000;
  font-size: 0.803rem;
}
.comments__avatar {
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  background-color: #E1E1E1;
  margin-right: 0.25rem;
  flex-shrink: 0;
}
.comments__divider-container {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.comments__divider {
  width: 100%;
  border: none;
  border-top: 0.1rem solid #E1E1E1;
  padding-bottom: 0.25rem;
}
.comments__commenter-info-container {
  width: 100%;
}
.comments__commenter-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: auto;
}
.comments__commenter-name-container {
  width: 7rem;
  padding-left: 0.7rem;
}
.comments__single-container {
  padding-left: 0.7rem;
}/*# sourceMappingURL=Comments.css.map */