// Import partials
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.comments {
    display: flex;
    flex-direction: column;

    &__form-container {
        display: flex;
        flex-direction: row;
        width: 19rem;
        margin: 0 1rem;

        @include tablet {
            margin: 0 2.25rem;
            align-items: center;
        }

        @include desktop {
            margin-left: 5.6rem;
        }
    }

    &__avatar-container {
        margin-top: 1.5rem;
        width: auto;
        display: flex;

        @include tablet {
            margin-top: .5rem;
        }
    }

    &__avatar-img {
        @include block-item(2.3rem, 2.3rem);
        border-radius: 50%;
        background-color: $septenary;
        flex-shrink: 0;
        object-fit: cover;
        object-position: left center;

        @include tablet {
            @include block-item(2.5rem, 2.5rem);
        
            @include desktop {
                margin-left: 1.75rem;
            }
        }
    }

    &__form {
        margin-left: 1rem;

        @include tablet {
            display: flex;
            flex-direction: column;
        }

        @include desktop {
            margin-left: 2.25rem;
        }
    }

    &__label {
        @include heading-style; 
        color: $tertiary;
        font-size: .75rem;
        text-transform: uppercase;
    }

    &__textarea {
        @include block-item(13.5rem, 4.6rem);
        @include body-copy-style;
        background-color: $octonary;
        border: .063rem solid $septenary;
        border-radius: .25rem;
        padding: .6rem;
        margin-top: .3rem;
        margin-bottom: .75rem;
        resize: none;

        @include tablet {
            @include block-item(27.25rem, 1.25rem);
        }

        @include desktop {
            @include block-item(24.4rem, 1.25rem);
        }

        @include large-desktop {
            @include block-item(24.5rem, 1.25rem);
        }
    
        &::placeholder {
            @include body-copy-style;
            font-size: .78rem;
            color: $quinary;
        }
    
        &:active,
        &:focus {
            @include block-item(13.5rem, 4.6rem);
            @include body-copy-style;
            outline: none;
            border: .125rem solid $secondary;
            border-radius: .25rem;  
            
            @include tablet {
                @include block-item(27.25rem, 1.25rem); 
            }
            
            @include desktop {
                @include block-item(24.4rem, 1.25rem);
            }

            @include large-desktop {
                @include block-item(24.9rem, 1.25rem);
            }
        }
    }

    &__button-container--bottom {
        display: block;

        @include tablet {
            display: none;
        }
    }

    &__button--bottom {
        @include heading-style;
        @include button-style(14.75rem, 2.25rem);
        align-items: center;
        transition: background-color .3s, transform .3s; // Added transition effect for button interaction
    
        &:hover,
        &:active {
            background-color: $senary;
        }

        &:active {
            transform: scale(.95); // Scales down the button on active state
        }
    }

    &__button-container--right {
        display: none;

        @include tablet {
            display: block;
            margin-top: .4rem;
            margin-left: 1.45rem;
        }

        @include desktop {
            margin-left: 1.4rem;
        }
    }

    &__button--right {
        @include heading-style;
        @include button-style(10rem, 2.5rem);
        align-items: center;
        transition: background-color .3s, transform .3s; // Added transition effect for button interaction

        &:hover,
        &:active {
            background-color: $senary;
        }

        &:active {
            transform: scale(.95); // Scales down the button on active state
        }
        
        @include desktop {
            @include button-style(9.27rem, 2.5rem);
        }
    }

    &__copy {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    
    &__icon {
        @include block-item(1.1rem, auto);
        padding: .3rem 0 0 .2rem;
    }

    &__list {
        width: auto;
        padding: .5rem 1rem .3rem 1rem;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        @include tablet {
            padding: .5rem 2.25rem .25rem 2.25rem;
        }

        @include desktop {
            padding-right: 0;
            padding-left: 0;
            margin-left: 6.65rem;
        }

        @include large-desktop {
            margin-left: 6.7rem;
        }
    }

    &__item {
        @include block-item(auto, auto);
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        // Fixes the first comment margin-right - to match the mockup properly
        @include tablet;
            &:first-child .comments__text {
                margin-right: .269rem;
        }    
    }

    &__list-container {
        display: flex;
        flex-direction: row;
        margin-top: 0;
        margin-bottom: .25rem;

        @include tablet {
            margin-top: .77rem;
            margin-bottom: .7rem;
        }

        @include desktop {
            margin: .75rem 1.34rem 0.5rem .65rem;
        }

        @include large-desktop {
            width: 100%;
            margin-left: .55rem;
        }
    }

    &__username,
    &__timestamp {
        margin-top: 0;
        margin-bottom: 0;
    }

    &__username {
        @include heading-style;
        font-size: .85rem;
        color: $quinary;

        @include tablet {
            font-size: .89rem;
        }
    }

    &__timestamp {
        @include body-copy-style;
        font-size: .8rem;
        color: $tertiary;

        @include tablet {
            font-size: .85rem;
        }
    }

    &__text {
        @include body-copy-style;
        line-height: 1.15rem;
        color: $quinary;
        font-size: .803rem;
        margin-top: .5rem;
        margin-bottom: .25rem;

        @include tablet {
            font-size: .868rem;
            line-height: 1.35rem;
        }

        @include desktop {
            margin-top: .5rem;
            font-size: .86rem;
        }

        @include large-desktop {
            font-size: .9rem;
            letter-spacing: .02rem;
        }
    }

    &__avatar {
        @include block-item(2.3rem, 2.3rem);
        border-radius: 50%;
        background-color: $septenary;
        margin-right: .25rem;
        flex-shrink: 0;

        @include tablet {
            @include block-item(2.5rem, 2.5rem);
        }
    }

    &__divider-container {
        @include block-item(100%, auto);
        overflow: hidden;
    }

    &__divider {
        width: 100%;
        border: none;
        border-top: .1rem solid $septenary; 
        padding-bottom: .25rem;
    }

    &__commenter-info-container {
        width: 100%;

        @include large-desktop {
            margin-right: 1.8rem;
        }
    }

    &__commenter-info {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        width: auto;

        @include desktop {
            margin-left: 1.4rem;
        }
    }

    &__commenter-name-container {
        width: 8.5rem;
        padding-left: .7rem;

        @include tablet {
            width: 10rem;
            padding-left: .9rem;
        
            @include desktop {
                padding-left: .7rem;
            }
        }
    }

    &__single-container {
        padding-left: .7rem;

        @include tablet {
            padding-left: .9rem;
        }

        @include desktop {
            margin-right: 1rem;
            margin-left: 1.2rem;
        }
    }

    &__error {
        border: .125rem solid $nonary;
    }
}