@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.videoDetails {
    margin: -.3rem 1rem 1rem 1rem;

    @include tablet {
        margin: -.3rem 2.25rem 1.3rem 2.25rem;
    }

    @include desktop {
        margin-left: 6.623rem;
        margin-right: 0;
    }

    &__video-title-container {
        width: auto;
        margin-top: 0;
    }

    &__video-title {
        @include heading-style;
        font-size: 1.5rem;
        color: $primary;
        line-height: 1.95rem;
        letter-spacing: .015rem;
        margin-bottom: 1rem;

        @include tablet {
            @include bold-heading-style;
            font-size: 1.925rem;
            margin-top: 2.1rem;
            margin-bottom: .25rem;
        }

        @include desktop {
            font-size: 2rem;
        }
    }

    &__video-info-divider--bottom,
    &__video-info-divider--top {
        width: auto;
        border: none;
        border-top: .1rem solid $septenary;    
    }

    &__video-info--top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 4rem;

        @include tablet {
            height: 2rem;
            padding-bottom: .25rem;
            align-items: last baseline;
        }
    }

    &__video-info--left {
        @include tablet {
            display: flex; 
            flex-direction: row;
            width: 12rem;
            align-items: baseline;
            justify-content: space-between;
        }
    }

    &__channel {
        @include heading-style; 
        font-size: .85rem;
        color: $quinary;

        @include tablet {
            @include bold-heading-style;
            font-size: .88rem;
            margin-bottom: 0;
            margin-top: 0;
        }
    }

    &__timestamp {
        @include body-copy-style;
            font-size: .8rem;
            color: $tertiary;
        
        @include tablet {
            font-size: .75rem;
            margin-bottom: 0;
            margin-top: 0;
        }
    }

    &__video-info--right {
        @include tablet {
            display: flex; 
            flex-direction: row;
            flex-wrap: wrap;
            align-content: baseline;
        }

        @include desktop {
            margin-right: 1.25rem;
        }
    }

    &__video-views-container,
    &__video-likes-container {
        display: flex;
        flex-direction: row;
    }

    &__video-views-container {
        display: flex;
        align-items: center;
        margin-bottom: 0;

        @include tablet {
            align-items: center;
        }
    }

    &__views-icon,
    &__likes-icon {
        @include block-item(auto, 1rem);

        @include tablet {
            margin: 0;
        }
    }

    &__views,
    &__likes {
        @include body-copy-style;
        font-size: .85rem;
        color: $tertiary;
        padding: 0 3rem 0 .5rem;

        @include tablet {
            padding: 0 0 0 .5rem;
            font-size: .75rem;
        }
    }

    &__views {
        @include tablet {
            margin-bottom: 0;
            margin-top: 0;
        }
    }

    &__likes {
        margin-top: 0;

        @include tablet {
            margin: 0;
        }
    }

    &__video-likes-container {
        display: flex;
        align-content: center;

        @include tablet {
            align-items: center;
            padding-left: 2rem;
        }
    }

    &__video-info-divider--top {
        display: block;

        @include tablet {
            display: none;
        }
    }

    &__description {
        @include body-copy-style;
        color: $quinary;
        font-size: .803rem;
        padding-bottom: .3rem;
        line-height: 1.135rem;

        @include tablet {
            font-size: .87rem;
            line-height: 1.37rem;
            padding: .5rem 1.25rem 1.1rem 0;
        }

        @include desktop {
            margin-right: 1.25rem;
            margin-bottom: 1.75rem;
            padding-right: 0;
        }
    }

    &__comments-counter {
        @include heading-style;
        font-size: .85rem;

        @include tablet {
            @include bold-heading-style;
            font-size: .88rem;
        }
    }
}